.gomenu {
  font-size: 25px;
}

.about {
  padding: 80px 0;
}

p.about1 {
  text-indent: 7%;
  font-size: 20px;
  text-white-space: nowrap;
}

p.about2 {
  text-align: right;
  font-size: 25px;
  padding-top: 10px;
}

.headmenu {
  padding: 0px;
  background: url("../images/shop/2.jpg");
  background-attachment: fixed;
  height: 200px;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}

.frist-menu {
  padding: 30px 0;
  text-transform: uppercase;
}

.fristtext-menu {
  font-size: 80px;
  font-weight: 700;
}

.fristfood {
  padding: 40px 0;
}

.food {
  padding: 40px 0;
}

.sweet {
  padding-top: -40px;
  padding-bottom: 60px;
}

.drink {
  padding-top: 40px;
  padding-bottom: 40px 0;
}

.headcontact {
  background: url("../images/shop/3.jpg");
  background-attachment: fixed;
  height: 200px;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}

.frist-contact {
  padding: 30px 0;
  text-transform: uppercase;
}

.fristtext-contact {
  font-size: 80px;
  font-weight: 700;
}

.p-contact {
  padding-top: 80px;
  padding-bottom: 80px;
}

.contact-under {
  padding-bottom: 80px;
}

footer.frist {
  padding: 20px;
  display: block;
  width: 100%;
  background-color: #ffccff;
}

footer.second {
  padding: 5px;
  display: block;
  width: 100%;
  background-color: #eee;
}

p.c0 {
  font-size: 33px;
  text-align: right;
  padding-bottom: 15px;
}

p.c1 {
  font-size: 28px;
  text-align: right;
  padding-bottom: 15px;
}

p.c2 {
  padding: 5px 0;
  font-size: 20px;
}

p.c3 {
  padding: 10px 0;
  font-size: 18px;
  text-align: right;
}

p.footer-second-1 {
  font-size: 13px;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

a:link {
  text-decoration: none;
}

.name-dev {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
